/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: rgb(56, 149, 126);
    --primary-color-light: rgb(56 149 126 / 35%);
    --secondary-color: rgb(173, 108, 78); 
    --secondary-color-light: rgb(173 108 78 / 35%);  
    --light-color: rgb(255, 255, 255); 
    --dark-color: rgb(47, 47, 47);
    --text-dark-color: rgb(77, 77, 77);
    --text-light-color: rgb(102 118 116);
    --bg-choice-btn: rgb(153 153 153 / 20%);
    --hover-choice-btn: rgb(153 153 153 / 40%);

    font-family: "Luckiest Guy", cursive;
    scroll-behavior: smooth;
}
/* GENERALS */
body, html {
    background-color: var(--bg-light-color);
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header, footer {
    background-color: var(--primary-color-light);
    color: var(--text-dark-color);
    flex-shrink: 0;
    z-index: 100;
    padding: 1em;
    height: 10vh;
}
main {
    flex: 1;
    overflow-y: auto;
}
.container {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
}
button {
    background: none;
    color: var(--secondary-color);
    font-family: "Luckiest Guy", cursive;
    border: 2px solid;
    border-radius: 10px;
    transition: background-color 0.2s;
    cursor: pointer;
    width: 150px;
    height: 40px;
    margin: 10px auto;
    letter-spacing: 3px;
}
button:hover{
    color: var(--light-color);
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.greeting-title {
    color: var(--text-dark-color);
}
.greeting-text {
    color: var(--text-light-color);
}
.ask-p{
    color: var(--secondary-color);
}
.round-table th {
    color: var(--text-light-color);
}
.round-table td {
    color: var(--dark-color);
}
.round-table .user-choice-td {
    color: var(--primary-color);
}
.round-table .comp-choice-td{
    color: var(--secondary-color);
}
.score-user {
    color: var(--primary-color);
}
.score-comp {
    color: var(--secondary-color);
}
.continue-p {
    color: var(--text-dark-color);
    font-size: 15px;
    text-align: center;
}
.continue-link {
    color: var(--primary-color);
    cursor: pointer;
    text-align: center;
    margin: 10px auto;
}
.continue-link:hover {
    color: var(--secondary-color);
}
/* for mobile */
.container {
    padding: 20px 5px;
}
p {
    font-size: 16px;
}
.foo-p {
    font-size: 14px;
}   
/* base */
.main-title {
    margin: 0 auto;
    letter-spacing: 4px;
    text-align: center;
    font-size: medium;
}
/* start page */
.greeting {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.greeting-title {
    margin: 20px auto;
    text-align: center;
    font-size: 19px;
}
.greeting-text {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
}
.ask {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 0;
}
.ask-p {
    margin: 5px;
    font-size: 15px;
    text-align: center;
}
/* index page */
.result-info {
    display: flex;
    width: 95%;
    margin: 10px auto;
    border: solid 4px var(--primary-color-light);
    border-radius: 20px;
}
.head-box-l {
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
}
.head-box-r {
    display: none;
    width: 30%;
    justify-items: center;
    align-items: center;
}
.result-info-score {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding: 5px 20px;
}
.result-info-p {
    width: 50%;
    text-align: left;
    color: var(--text-light-color);
    font-size: 13px;
}
.winner {
    width: 100%;
    padding: 5px;
}
.winner-text {
    text-align: center;
    color: var(--secondary-color);
    font-size: medium;
}
.game {
    display: grid;
    gap: 10px;
    justify-items: center;
    width: 100%;
    margin: 0 auto;
}
.rounds {
    display: grid;
    grid-template-rows: 15% 85%;
    width: 95%;
    gap: 10px;
    height: 230px;
    border: solid 4px var(--secondary-color-light);
    border-radius: 20px;
}
.round-title h2 {
    color: var(--text-dark-color);
    text-align: center;
    margin: 10px auto;
    font-size: medium;
}
.round-table {
    overflow-y: scroll; 
    height: auto;
    width: 100%;
}
.round-table::-webkit-scrollbar {
    display: none;
}
.round-table table {
    width: 250px; 
    height: auto;
    margin: 0 auto; 
}
.round-table th, .round-table td {
    padding: 5px;
    text-align: center;
    width: 180px;
    font-size: small;
    font-weight: 200;
}
.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 95%;
    margin: 0 auto;
    }
.choice-box {
    margin: 0 auto;
    border: solid 4px var(--text-light-color);
    border-radius: 20px;
    padding: 0 10px;
}
.choice-box form{
    display: flex;
    width: 200px;
}
.choice-btn {
    border: none;
    height: 60px;
    width: 60px;
    transition: background-color 0.2s;
    background: var(--bg-choice-btn);
}
.choice-btn:hover{
    background: var(--hover-choice-btn);
    border: none;
}
.choice-img {
    height: 40px;
    width: 35px;
    image-orientation: inherit;
}
.choice-q1 {
    margin-top: 35px;
}
/* result page */
.result, .ask, .continue {
    padding: 10px;
    width: 60%;
}
.continue {
    display: grid;
    align-items: center;
    justify-content: center;
}
/* for tablets */
@media (min-width: 700px) {
    .choice-q1 {
        display: none;
    }
    .container {
        padding: 25px 20px;
    }
    p {
        font-size: 18px;
    }
    .foo-p {
        font-size: 17px;
    }   
    /* base */
    .main-title {
        margin: 0 auto;
        letter-spacing: 7px;
        text-align: center;
    }
    /* start page */
    .greeting {
        display: grid;
        justify-content: center;
        align-items: center;
        width: 80%;
        padding: 40px;
    }
    .greeting-title {
        margin: 20px auto;
        text-align: center;
        font-size: x-large;
    }
    .greeting-text {
        width: 100%;
        margin: 10px auto;
        text-align: center;
        line-height: 25px;
        font-size: 15px;
    }
    .ask {
        display: grid;
        justify-items: center;
        align-items: center;
        padding: 0;
    }
    .ask-p {
        margin: 5px;
        font-size: 19px;
    }
    /* index page */
    .result-info {
        display: flex;
        width: 95%;
        margin: 10px auto;
    }
    .head-box-l {
        display: grid;
        width: 70%;
        justify-items: center;
        align-items: center;
    }
    .head-box-r {
        display: grid;
        width: 30%;
        justify-items: center;
        align-items: center;
    }
    .result-info-score {
        display: flex;
        width: 100%;
        padding: 5px;
    }
    .result-info-p {
        width: 50%;
        text-align: center;
        font-size: medium;
    }
    .winner {
        width: 100%;
        padding: 5px;
    }
    .winner-text {
        text-align: center;
        font-size: medium;
    }
    .game {
        display: grid;
        gap: 10px;
        justify-items: center;
        width: 100%;
        margin: 0 auto;
    }
    .rounds {
        display: grid;
        grid-template-rows: 15% 85%;
        width: 95%;
        gap: 5px;
        height: 250px;
    }
    .round-title h2 {
        text-align: center;
        margin: 10px auto;
        font-size: medium;
    }
    .round-table {
        overflow-y: scroll; 
        height: auto;
        width: 100%;
    }
    .round-table::-webkit-scrollbar {
        display: none;
    }
    .round-table table {
        width: 500px; 
        height: auto;
        margin: 0 auto; 
    }
    .round-table th, .round-table td {
        padding: 5px;
        text-align: center;
        width: 180px;
        font-size: small;
        font-weight: 200;
    }
    .choice {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 95%;
        margin: 0 auto;
        }
    .choice-box {
        margin: 0 auto;
        padding: 0 10px;
    }
    .choice-box form{
        display: flex;
        width: 200px;
    }
    .choice-btn {
        border: none;
        height: 60px;
        width: 60px;
        transition: background-color 0.2s;
    }
    .choice-img {
        height: 40px;
        width: 35px;
        image-orientation: inherit;
    }
    /* result page */
    .result, .ask, .continue {
        padding: 10px;
        width: 60%;
    }
    .continue {
        display: grid;
        align-items: center;
        justify-content: center;
    }
}
/* for monitors */
@media (min-width: 1000px) {
    .container {
        padding: 0px 20px;
    }
    p {
        font-size: 18px;
    }    
    button {
        width: 170px;
        height: 50px;
        margin: 10px auto;
        letter-spacing: 1px;
    }    
    /* base */
    .main-title {
        margin: 0 auto;
        letter-spacing: 5px;
        text-align: center;
    }
    /* start page */
    .greeting {
        display: grid;
        justify-content: center;
        align-items: center;
        width: 80%;
        padding: 25px;
    }
    .greeting-title {
        margin: 25px auto;
        text-align: center;
    }
    .greeting-text {
        width: 60%;
        margin: 15px auto;
        text-align: center;
        line-height: 35px;
    }
    .ask {
        display: grid;
        justify-items: center;
        align-items: center;
    }
    .ask-p {
        margin: 5px;
        font-size: 15px;
    }
    /* index page */
    .result-info {
        display: flex;
        width: 80%;
        margin: 20px auto;
    }
    .head-box-l {
        display: grid;
        width: 70%;
        justify-items: center;
        align-items: center;
    }
    .head-box-r {
        display: grid;
        width: 30%;
        justify-items: center;
        align-items: center;
    }
    .result-info-score {
        display: flex;
        width: 100%;
        padding: 5px;
    }
    .result-info-p {
        width: 50%;
        text-align: center;
    }
    .winner {
        width: 100%;
        padding: 5px;
    }
    .winner-text {
        text-align: center;
    }
    .game {
        display: flex;
        gap: 10px;
        justify-items: center;
        align-items: flex-start;
        width: 80%;
        height: 350px;
        margin: 0 auto;
    }
    .rounds {
        display: grid;
        grid-template-rows: 15% 85%;
        width: 80%;
        height: 100%;
    }
    .round-title h2 {
        text-align: center;
        margin: 15px auto;
    }
    .round-table {
        overflow-y: scroll; 
        height: auto;
        width: 100%;
    }
    .round-table::-webkit-scrollbar {
        display: none;
    }
    .round-table table {
        width: 500px; 
        height: auto;
        margin: 0 auto; 
    }
    .round-table th, .round-table td {
        padding: 10px;
        text-align: center;
        width: 220px;
    }
    .choice {
        display: grid;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 100%;
        border: solid 4px var(--text-light-color);
        border-radius: 20px;
    }
    .choice-box {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        border: none;
    }
    .choice-box form{
        display: grid;
        width: 110px;
    }
    .choice-btn {
        border: none;
        height: 90px;
        width: 90px;
        transition: background-color 0.2s;
    }
    .choice-img {
        height: 80px;
        width: 65px;
        image-orientation: inherit;
    }
    /* result page */
    .result, .ask, .continue {
        padding: 20px;
        width: 60%;
    }
    .continue {
        display: grid;
        align-items: center;
        justify-content: center;
    }
}